<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sample.dm8.dao.UserInfoMapper">

    <select id="selectMaxAge" resultType="java.lang.Integer">
        SELECT max(age) FROM user_info
    </select>
</mapper>